@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixel-font {
  font-family: 'Press Start 2P', monospace;
}

body,html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
